.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.first-half {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: row;
}
.about {
  color: rgba(224, 170, 254, 0);
  font-family: Poppins;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  -webkit-text-stroke: 2px #8a00d7;
  text-stroke: 2px #8a00d7;
  line-height: normal;
}
.Me {
  color: #8a00d7;
  font-family: Poppins;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 5%;
}
.about-me-para {
  margin-top: 1rem;
  color: #8a00d7;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.my-resume {
}

.contact-me {
  margin-left: 2rem;
}

.my-resume-buttons {
  color: #8a00d7;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.625rem;
  border: 2px solid #8a00d7;
  background: rgba(255, 255, 255, 0);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.my-resume-buttons:hover {
  border-radius: 0.625rem;
  border: 2px solid #8a00d7;
  background: #8a00d7;
  color: white;
  cursor: pointer;
}
.links {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-title {
  color: #8a00d7;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.links-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.media-icons{
    padding: 1rem;
}

.media-icons:hover{
    scale: 1.5;
    cursor: pointer;
}