.project-container {
  width: 100%;
}
.project-title {
  color: #8a00d7;
  font-family: Poppins;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-bottom: 2rem;
}

.skills-dropdown {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3.5625rem;
  border-radius: 0.625rem;
  border: 2px solid #8a00d7;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  color: #8a00d7;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
}

/* ProjectComponent.css */

.project-component {
  height: 25rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #8a00d7 #f1f1f1;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #C67DFF;
    border-radius: 6px;
  }
  &:hover {
    overflow-x: scroll;
  }
}