.skill-container {
  display: flex;
  flex-direction: row;
  width:100%;
}

.skills-left {
  width: 50%;
  display: flex;
}

.skills-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.title {
  color: #8a00d7;
  font-family: Poppins;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skills-boxes {
  display: grid;
  min-width: 50%;
  width: auto;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}
