.skillBox {
  width: fit-content;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1.3125rem;
  background: rgba(255, 255, 255, 0.3);
  color: #8a00d7;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.on-hover{
  display: none;
}

.skillBox:hover{
  cursor: default;
}

.skillBox:hover .default{
  display:none;
}
.skillBox:hover .on-hover{
  display: block;
}